// Main css
@import "partials/variables";
@import "partials/mixins";
@import "partials/placeholders";

body {
  height: 100%;
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}
.navbar {
  position: fixed;
  display: block;
  width: 100%;
  border-style: solid solid none;
  border-width: 1px;
  border-color: rgba(60, 35, 20, .35);
  background-color: #fff;
  box-shadow: none;
  color: #3c2314;
  @include tablet {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @include phone {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.logo {
  &--header {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
    @include tablet {
      width: 220px;
    }
    @include large-phone {
      width: 180px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    @include phone {
      width: 220px;
    }
  }
  &--footer {
    display: block;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    float: none;
    @include large-phone {
      width: 150px;
    }
  }
}



.navlink {
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px;
  font-family: Montserrat, sans-serif;
  color: #044a61;
  font-size: 14px;
  line-height: 1.125;
  font-weight: 400;
  text-transform: uppercase;
  @include large-phone {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &:hover {
    background-color: transparent;
    color: #fff;
  }

  &.w--current {
    color: #d4f5ff;
  }
}

.navmenu {
  width: 100%;
  padding-right: 11px;
  border-bottom: 1px none rgba(4, 105, 58, .14);
  background-color: #24baea;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .18);
  text-align: right;
  &.scroll {
    display: none;
    background-color: #044124;
  }
}

.main_section {
  height: 100%;
  background-image: url('../images/main-img3.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  @include tablet {
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .31), rgba(0, 0, 0, .31)), url('../images/main-img3.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .31), rgba(0, 0, 0, .31)), url('../images/main-img3.jpg');
    background-position: 0px 0px, 89% 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  @include large-phone {
    position: relative;
    height: 130%;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .34), rgba(0, 0, 0, .34)), url('../images/main-img3.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .34), rgba(0, 0, 0, .34)), url('../images/main-img3.jpg');
    background-position: 0px 0px, 50% 0px;
    font-style: italic;
  }
  @include phone {
    height: 100%;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .41), rgba(0, 0, 0, .41)), url('../images/main-img3.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .41), rgba(0, 0, 0, .41)), url('../images/main-img3.jpg');
    background-position: 0px 0px, 50% 0px;
  }
}

.why_lasik_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #07627e;
  text-align: left;
  @include phone {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

.container_div {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  @include tablet {
    width: 90%;
  }
  &.contact_form {
    width: 60%;
  }
}

.section_headline {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #0a7fa5;
  font-size: 48px;
  line-height: 1.125;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  @include large-phone {
    margin-bottom: 30px;
    font-size: 30px;

  }
  @include phone {
    font-size: 30px;
  }
  &.center {
    text-align: center;
  }
  &.white {
    color: #fff;
  }
}


.section_text {
  margin-bottom: 30px;
  color: #052a36;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  text-align: left;
  @include large-phone {
    margin-bottom: 15px;
  }
  &.no_margin {
    margin-bottom: 0px;
  }
  &.white {
    color: #fff;
  }
}

// .section_text.king {
//   padding-right: 30px;
//   border-right: 5px none rgba(0, 0, 0, .05);
      // @include large-phone {
      //   padding-right: 0px;
      // }
// }

.what_is_lasik {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #07627e;
  text-align: center;
  @include phone {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.blade_free_lasik {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f2fae8;
  text-align: center;
  @include large-phone {
    padding-top: 75px;
    padding-bottom: 0px;
  }
}

.lasik_selftest_section {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: #fff;
  background-image: url('../images/lasik_img.png');
  background-position: 100% 0px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include large-phone {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include phone {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
}

.financing_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  text-align: left;
  @include tablet {
    padding-top: 75px;
    padding-bottom: 100px;
  }
  @include large-phone {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

.locations_section {
  padding: 150px 80px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/locations-bg.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/locations-bg.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  @include tablet {
    padding-right: 31px;
    padding-left: 31px;
  }
  @include large-phone {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include phone {
    padding-top: 50px;
    padding-right: 21px;
    padding-left: 21px;
  }
}

.locations_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  @include tablet {
  }
  @include phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.location {
  width: 18%;
  margin-right: 10px;
  margin-bottom: 55px;
  margin-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 1 1 250px;
  -ms-flex: 1 1 250px;
  flex: 1 1 250px;
  text-align: center;
  @include tablet {
    width: 45%;
  }
  @include large-phone {
    margin-right: 5px;
    margin-left: 5px;
  }
  @include phone {
    width: 100%;
    margin-bottom: 30px;
  }
}

.location__headline {
  height: 60px;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid hsla(86, 58%, 77%, .4);
  color: #54d4fd;
  font-size: 26px;
  line-height: 1.125;
  font-weight: 300;
}

.location__address {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 100;
  @include tablet {
    font-size: 14px;
  }
  @include phone {
    font-weight: 300;
  }
}

.location__phone {
  display: block;
  margin-bottom: 30px;
  color: #5ed7fd;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: #eefade;
  }
}

.map_div {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, .56);
}

.map {
  height: 200px;
}

.footer_section {
  padding: 100px 80px 150px;
  border-top: 1px solid rgba(96, 56, 19, .22);
  background-color: #eaf9fd;
  background-image: none;
  text-align: left;
  @include tablet {
    padding-right: 57px;
    padding-left: 57px;
  }
  @include large-phone {
    padding: 50px 20px 75px;
  }
}

.footer_div {
  width: 40%;
  float: left;
  @include phone {
    width: 100%;
    margin-bottom: 40px;
  }
}

.footer_text {
  float: none;
  color: #58585a;
  font-size: 12px;
}

// .king_column {
//   border-left: 5px none hsla(84, 6%, 46%, .18);
//   text-align: right;
// }
//
// .king_column_text {
//   padding-top: 49px;
//   padding-right: 0px;
//   text-align: left;
// }

.learn_more_btn {
  padding: 12px 30px;
  clear: none;
  border: 2px none #c9e6a2;
  border-radius: 30px;
  background-color: #24baea;
  background-image: none;
  text-transform: uppercase;
  text-shadow: none;
  &:hover {
    padding-right: 30px;
    background-color: #068fbb;
    background-image: none;
  }
  &.top_padding {
    margin-top: 52px;
    @include phone {
      margin-top: 0px;
    }
  }
  &.lasik_test {
    background-color: #24baea;
    background-position: 95% 50%;
    @include phone {
      margin-top: 1px;
      font-size: 12px;
    }
  }
}



.left_column {
  text-align: left;
  @include tablet {
    margin-bottom: 37px;
  }
  &._2 {
    padding-left: 25px;
  }
}

.right_column {
  text-align: right;
}

.bg_video {
  height: 100%;
  background-image: none;
  @include tablet {
    background-image: none;
  }
  @include large-phone {
    display: none;
  }
}

.header_bottom {
  position: static;
  top: 65px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  float: right;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  @include tablet {
    width: 90%;
    margin-top: 5px;
    padding-left: 10px;
  }
  @include large-phone {
    padding-right: 5px;
    padding-left: 5px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: calc(100% - 60px);
  }
  @include phone {
    display: block;
    width: 80%;
    margin-top: 0px;
    padding-right: 0px;
  }
  &:hover {
    color: #fff;
  }
}

.top_phone_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d6fca3;
  font-size: 28px;
  font-weight: 100;
  text-decoration: none;
  @include phone {
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &:hover {
    color: #fff;
  }
  // &.mobile {
  //   @include phone {
  //     display: -webkit-box;
  //     display: -webkit-flex;
  //     display: -ms-flexbox;
  //     display: flex;
  //   }
  // }
}


.phone_img {
  margin-right: 10px;
  @include large-phone {
    width: 15%;
    margin-right: 5px;
  }
}

.small_phone_btn_text {
  display: block;
  margin-bottom: 5px;
  padding-bottom: 5px;
  float: none;
  border-bottom: 1px solid #0a7fa5;
  color: #0a7fa5;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  text-transform: uppercase;
  @include tablet {
    padding-bottom: 0px;
    font-size: 10px;
  }
  @include large-phone {
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-size: 8px;
    line-height: 10px;
  }
}

.phone_btn_big_text {
  display: block;
  margin-top: 5px;
  float: none;
  color: #24baea;
  line-height: 1.5;
  font-weight: 700;
  @include tablet {
    margin-top: 3px;
    font-size: 24px;
  }
  @include large-phone {
    margin-top: 2px;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0px;
  }
}

.btn_text_holder {
  text-align: left;
  @include phone {
    display: none;
  }
  &.mobile {
    @include phone {
      display: block;
    }

  }
}

.lasik_info_kit_div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 8%;
  padding-top: 0px;
  padding-bottom: 30px;
  border-top: 1px none hsla(86, 58%, 77%, .25);
  background-color: transparent;
  text-align: center;
  @include large-phone {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 20%;
    padding-top: 0px;
    padding-bottom: 15px;
    background-image: none;
  }
  @include phone {
    display: none;
  }
}

.hero_message {
  position: absolute;
  left: 0px;
  top: 31%;
  z-index: 50;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 74px;
  background-color: transparent;
  @include tablet {
    left: 0px;
    top: auto;
    right: 0px;
    bottom: 7%;
    width: 100%;
    padding: 0px 35px 24px;
    background-color: transparent;
    text-align: center;
  }
  @include large-phone {
    left: 0px;
    top: auto;
    right: 0px;
    bottom: 0%;
    width: 100%;
    padding: 10px 15px;
  }
  @include phone {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 1%;
    display: block;
    width: 100%;
    height: auto;
    padding: 0px 10px;
  }
  &.mobile {
    @include large-phone {
      display: none;
    }
    @include phone {
      position: relative;
      display: block;
      padding-top: 15px;
    }
  }
}

.main_headline1 {
  min-height: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #052a36;
  font-size: 64px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: none;
  @include tablet {
    color: #38cfff;
    font-size: 42px;
    line-height: 42px;
  }
  @include large-phone {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
  }
  @include phone {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 22px;
  }
}

.main_headline2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  @include tablet {
    color: #fff;
    font-size: 24px;
    line-height: 26px;
  }
  @include large-phone {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;
  }
  @include phone {
    margin-bottom: 0px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
  }
}

.main_text {
  margin-bottom: 30px;
  padding-right: 0px;
  font-family: Montserrat, sans-serif;
  color: #eaf9fd;
  font-size: 30px;
  line-height: 28px;
  font-weight: 300;
  @include tablet {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
  }
  @include large-phone {
    margin-bottom: 10px;
    padding-right: 0px;
    font-size: 14px;
    line-height: 20px;
  }
  @include phone {
    font-weight: 300;
  }
}

.schedule_app_btn {
  padding: 20px 31px;
  border-radius: 30px;
  background-color: #c3ff72;
  background-image: -webkit-linear-gradient(270deg, #24baea, #0a7fa5);
  background-image: linear-gradient(180deg, #24baea, #0a7fa5);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  @include tablet {
    font-size: 14px;
  }
  @include large-phone {
    padding: 8px 20px;
    font-size: 12px;
    line-height: 16px;
  }
  &:hover {
    background-color: #fff;
  }
}



.main_headline3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ebfcd5;
  font-size: 50px;
  line-height: 40px;
  font-weight: 300;
  text-transform: uppercase;
  @include tablet {
    font-size: 56px;
    line-height: 50px;
  }
  @include large-phone {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 26px;
  }
  @include phone {
    margin-bottom: 0px;
  }
}

.quick_contact_section {
  padding-top: 100px;
  padding-bottom: 75px;
  background-color: #8ab155;
  background-image: url('../images/bg_img.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  @include tablet {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

.quick_form_div {
  width: 65%;
  padding-right: 30px;
  float: left;
  @include tablet {
    width: 100%;
    padding-right: 0px;
  }
}

.book_img_holder_div {
  position: relative;
  top: 0px;
  right: 0px;
  width: 30%;
  float: right;
  @include tablet {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 19px;
  }
}

.book_img_div {
  position: absolute;
  left: 0px;
  top: 0px;
  @include tablet {
    position: static;
  }
}

.quick_form_headline {
  margin-bottom: 25px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 100;
  text-align: left;
  @include tablet {
    text-align: center;
  }
}

.quick_form_headline_bold {
  font-size: 28px;
  font-weight: 400;
}

.text_field {
  width: 500px;
  margin-right: 10px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, .7);
  color: #044124;
  @include tablet {
    width: 400px;
    margin-right: 5px;
    margin-bottom: 15px;
  }
  &:hover {
    background-color: #fff;
    color: #0a7fa5;
  }

}



.text_field._2 {
  height: 40px;
  margin-right: 0px;
  margin-bottom: 10px;
  border-style: none;
  border-color: #a9b2b4;
  background-color: #fff;
  box-shadow: 0 0 7px 0 rgba(5, 42, 54, .35);
  color: #052a36;
  font-weight: 200;
  @include large-phone {
    width: 250px;
    height: auto;
    margin-right: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
  }
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::placeholder {
    color: #30393b;
    font-weight: 300;
  }
}

.submit_btn {
  display: block;
  width: 500px;
  border-radius: 20px;
  background-color: #0a7fa5;
  text-transform: uppercase;
  @include tablet {
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 16px;
  }
  &:hover {
    background-color: #fff;
    color: #3c2314;
  }
  &.top {
    height: 40px;
    background-color: #24baea;
    background-image: none;
    box-shadow: 0 0 9px 0 rgba(5, 42, 54, .45);
    @include large-phone {
      width: 500px;
      height: auto;
    }
    @include phone {
      width: 250px;
    }
    &:hover {
      background-color: #0a7fa5;
      color: #fff;
    }
  }
}

.form_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  @include tablet {
    width: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  // &.top {
  //   -webkit-box-pack: start;
  //   -webkit-justify-content: flex-start;
  //   -ms-flex-pack: start;
  //   justify-content: flex-start;
  //   @include tablet {
  //     -webkit-box-pack: center;
  //     -webkit-justify-content: center;
  //     -ms-flex-pack: center;
  //     justify-content: center;
  //   }
  // }
}



.review_section {
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
  @include tablet {
    padding-bottom: 75px;
  }
}

.testimonials_holder_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.testimonial_div {
  width: 33%;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  @include tablet {
    width: 100%;
    margin-bottom: 36px;
  }
  &.middle {
    border-right: 1px dashed hsla(86, 10%, 53%, .27);
    border-left: 1px dashed hsla(86, 10%, 53%, .27);
    @include tablet {
      border-right-style: none;
      border-left-style: none;
    }
  }
}



.testimonials_img {
  margin-bottom: 20px;
}

.testimonials_text {
  color: #58585a;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.testimonial_name {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #6da71f;
  line-height: 26px;
  font-weight: 100;
}

.name_smaller {
  font-size: 18px;
}

.success_msg {
  background-color: transparent;
  color: #d2fd98;
  font-size: 16px;
  font-weight: 300;
}

.error_msg {
  background-color: transparent;
  color: #830808;
  text-align: left;
}

.locations_icon_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 40px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  @include tablet {
    width: 100%;
    margin-bottom: 45px;
    text-align: center;
  }
  @include phone {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 36px;
    margin-left: 5px;
  }
}

.locations_headline {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 48px;
  line-height: 50px;
  font-weight: 100;
  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }
}

.scroll_div {
  display: inline-block;
  @include large-phone {
    display: none;
  }
}

.scroll_text {
  margin-top: 5px;
  color: hsla(0, 0%, 100%, .74);
  font-weight: 100;
}

.scroll_arrow {
  margin-bottom: 5px;
}

.social_media_div {
  width: 40%;
  float: right;
  text-align: right;
  @include large-phone {
    width: 50%;
  }
  @include phone {
    width: 100%;
    margin-bottom: 14px;
    text-align: right;
  }
}

.bottom_phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0a7fa5;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  @include phone {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  &:hover {
    color: #24baea;
  }
}

.bottom_phone_img {
  margin-left: 10px;
}

.social_media_headline {
  color: #576841;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.social_media_btn {
  margin-left: 10px;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  &:hover {
    opacity: 0.59;
  }
}

.lasik_test_div {
  width: 60%;
  padding-right: 0px;
  text-align: left;
  @include tablet {
    text-align: left;
  }
  @include large-phone {
    width: 50%;
    float: left;
  }
  @include phone {
    width: 100%;
  }
}

.lasik_test_img_container {
  position: relative;
  width: 40%;
  float: right;
  @include large-phone {
    position: static;
    display: inline-block;
    width: 40%;
    float: none;
  }
  @include phone {
    width: 70%;
  }
}

.lasik_test_img_div {
  position: absolute;
  top: -225px;
  right: 0px;
  @include tablet {
    position: static;
  }
  @include large-phone {
    margin-bottom: 21px;
  }
}

.phone_tagline_mobile_section {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #031a0f;
  text-align: center;
  @include phone {
    display: block;
    background-color: #01232e;
  }
}

.navbar_scroll {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  @include tablet {
    background-color: transparent;
  }
  @include large-phone {
    display: none;
  }
}

.scroll_btn {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  &:hover {
    color: #c2fa78;
  }
}


.aoointment_section {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #24baea;
}

.appointment_headline {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #fff;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
  @include large-phone {
    font-size: 30px;
    line-height: 30px;
  }
}

.column {
  text-align: left;
}

.image {
  float: none;
  clear: none;
}

.logo_div {
  margin-bottom: 30px;
}

.location_icon {
  width: 10%;
}

.schedule_appointment_btn2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  margin-right: 25px;
  padding: 15px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #24baea;
  border-radius: 30px;
  color: #24baea;
  text-decoration: none;
  text-transform: uppercase;
  @include tablet {
    width: 220px;
    margin-right: 10px;
    padding: 10px 13px;
    line-height: 14px;
  }
  @include large-phone {
    width: 150px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  @include phone {
    display: none;
  }
  &:hover {
    background-color: #24baea;
    color: #fff;
  }
}

.text-block {
  padding: 14px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.text-block-2 {
  @include large-phone {
    font-size: 20px;
  }
}

html.w-mod-js {
  *[data-ix="slide-left"], *[data-ix="slide-left-2"], *[data-ix="slide-left-3"], *[data-ix="slide-left-4"]  {
    opacity: 0;
    -webkit-transform: translate(67px, 0px);
    -ms-transform: translate(67px, 0px);
    transform: translate(67px, 0px);
  }
  *[data-ix="scroll-bounce"] {
    -webkit-transform: translate(0px, -9px);
    -ms-transform: translate(0px, -9px);
    transform: translate(0px, -9px);
  }
  *[data-ix="scroll-navbar-zero"] {
    opacity: 0;
    -webkit-transform: translate(0px, -100px);
    -ms-transform: translate(0px, -100px);
    transform: translate(0px, -100px);
  }
}

.manu_btn {
  @include tablet {
    background-color: #24baea;
    color: #fff;
  }
  &:hover {
    @include tablet {
      background-color: #0a7fa5;
      color: #fff;
    }
  }
  &.w--open {
    @include tablet {
      background-color: #abe3f5;
      color: #0a7fa5;
    }
  }
}

.column_video {
  @include large-phone {
    margin-bottom: 50px;
  }
}

.important-text {
  @include large-phone {
    line-height: 30px;
  }
}

.financing_icon {
  @include large-phone {
    display: none;
  }
}
